 
<div class="container">
 {{#if error}}
            <div class="usuario">
                <p><i class="fa-solid fa-triangle-exclamation" style="color: #9c1515;"></i> Usuario y/o contraseña
                    incorrecta</p>
            </div>
    {{/if}}
    <div class="row">
        <div class="col">
            <form action="/admin/login" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Usuario" name="usuario">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Contraseña" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>

            </form>
          
        </div>
    </div>
</div>