<div class="galeria">
            <div class="photos">
                <img src="images/photos/bodega_1.jpg" alt="finca" width="300px">
                <span>Finca "Villa Antigua", Lulunta</span>
            </div>
            <div class="photos">
                <img src="images/photos/bodega_2.jpg" alt="finca" width="300px">
                <span>Finca "Los Nobles", San Carlos</span>
            </div>
            <div class="photos">
                <img src="images/photos/bodega_3.jpg" alt="cava" width="300px">
                <span>Cava. Bodega "Calise", Tunuy치n</span>
            </div>
            <div class="photos">
                <img src="images/photos/bodega_4.jpg" alt="cava" width="300px">
                <span>Cava. Bodega "Los miradores", Valle de Uco </span>
            </div>
            <div class="photos">
                <img src="images/photos/bodega_5.jpg" alt="cava" width="300px">
                <span>Cava. Bodega "Altos de Lulunta"</span>
            </div>
            <div class="photos">
                <img src="images/photos/bodega_6.jpg" alt="degustacion" width="300px">
                <span>Degustaci칩n varietales en Lulunta</span>
            </div>
            <!-- <div class="photos">
                <img src="/img/photos/bodega_7.jpg" alt="degustacion" width="300px">
            </div> -->
            <div class="photos">
                <img src="images/photos/bodega_8.jpg" alt="museo" width="300px">
                <span>Museo del vino, Luzuriaga. Desde 1940</span>
            </div>
            <div class="photos">
                <img src="images/photos/bodega_9.jpg" alt="finca" width="300px">
                <span>Por los caminos del vino</span>
            </div>
            <div class="photos">
                <img src="images/photos/bodega_10.jpg" alt="degustacion" width="300px">
                <span>Degustaci칩n y Rest칩, Valle de Uco</span>
            </div>
        </div>