<div class="contenedor">
            <div>
                <section class="varietal">
                    <img src="images/galeria/copa.jpg" alt="copa" width="300px" height="200px">
                    <div class="card-body">
                      <p>Los mejores varietales no sólo nacen también se logran.</p>
                    </div>
                </section>
                <section class="racimo">
                    <img src="images/varios/uva_3.png" alt="racimo" width="300px" height="200px">
                    <div class="card-body">
                      <p>En nuestros frutos primacía la calidad.</p>
                    </div>
                </section>
        </div>
        <div class="frase">
           <p>Los viajes en el tiempo <br> se hacen a través <br> de los sabores.</p> 
           
        </div>
        </div>
