<div class="novedades">
            <h2>Novedades</h2>
            <p>Las tendencias de la industria, las novedades, lo que viene. <br><br> Conocé el presente de la
                vitivinicultura argentina y enterate de todo lo que tenés que saber acerca de nuestros vinos.</p>
        </div>
        <div class="noticias">
            <!-- noticia numero 1 -->
            <div class="noticia">
                <h3>Tendencia: Vinos de aperitivo. </h3>
                <h4>Los protagonistas: vinos blancos y rossè.</h4>
                <p>En los últimos años las generaciones más jóvenes tomaron esta tradición de sus padres y abuelos y la
                    convirtieron en una verdadera tendencia que -más allá del clásico vermouth- tiene a los vinos como
                    protagonistas.El aperitivo es una costumbre muy arraigada en nuestro país que tiene sus orígenes en
                    la inmigración europea de comienzos del siglo XX. Sin embargo, en los últimos años
                    las generaciones más jóvenes tomaron esta tradición de sus padres y abuelos y la
                    convirtieron en una verdadera tendencia que -más allá del clásico vermouth- tiene a
                    los vinos como protagonistas.
                </p>
                <hr />
            </div>
            <!-- noticia numero 2 -->
            <div class="noticia">
                <h3>¿Por qué los blends encarnan el estilo de una bodega?</h3>
                <h4> Un gran blend es un minucioso trabajo autoral.</h4>
                <p>A simple vista, la primera impresión que tenemos sobre un vino es si es un tinto, un
                    blanco, un rosado o un espumante. Sin embargo, hay una segunda división profunda en
                    el mundo de la vitivinicultura: los varietales y blends. Los varietales son aquellos
                    vinos elaborados con -al menos- un 85% de un mismo cepaje; en cambio, los blends (o
                    vinos de corte) son creados a partir de dos o más variedades de uva. Son los ejemplares más característicos del Viejo Mundo, ya que la
                    mayor parte de los vinos emblemáticos de Europa son producto de la mezcla entre distintas cepas
                    provenientes de un mismo terroir.
                </p>
                <hr />
            </div>
            <!-- noticia numero 3 -->
            <div class="noticia">
                <h3>¿Qué nos dice la vendimia 2022 de los varietales que encabezan la producción?</h3>
                <h4>En Bodega Villa Antigua, la cosecha empezó a principios del mes de febrero.</h4>
                <p>Tras un invierno y una primavera en 2021 con un clima beneficioso para el desarrollo de la vid. En el mes de febrero comienza el momento más importante del año para la industria
                    vitivinícola: la vendimia. El resultado del trabajo de 12 meses en las fincas se
                    materializa en la cosecha, la conclusión del ciclo anual de la vid. La obtención de
                    uvas sanas, en su punto justo de madurez, es indispensable para elaborar vinos de
                    alta calidad.
                </p>
                <hr />
            </div>
            <!-- noticia numero 4 -->
            <div class="noticia">
                <h3>¿Por qué es interesante tener uvas de distintos terroirs?</h3>
                <h4>Con el terruño como punto de partida para obtener ejemplares únicos y singulares</h4>
                <p>El concepto de terroir representa la columna vertebral de la vitivinicultura actual y
                    de nuestra filosofía de elaboración: para nosotros, tal como dice el Ing. Rafael
                    Maturanno (p), el vino nace en la finca. La interacción entre el microclima, el
                    suelo, la geografía, las vides y el trabajo humano en un sitio determinado otorga al
                    vino un carácter y una personalidad específica que se percibe a través de sus
                    aromas, sabores y texturas.
                </p>
                <hr />
            </div>
            <!-- noticia numero 5 -->
            <div class="noticia">
                <h3>Chardonnay y Sauvignon Blanc: 7 claves para diferenciarlas</h3>
                <h4>Sauvignon Blanc y Chardonnay. Cepas blancas más consumidas en la Argentina.</h4>
                <p>Mayo es el mes de los cepajes blancos por excelencia: mientras que el sábado 7 se
                    celebra en todo el mundo el Día del Sauvignon Blanc, el jueves 26 es el Día
                    Internacional del Chardonnay. Más allá de ser dos de las variedades para la
                    elaboración de vinos más importantes del mundo, también son las cepas blancas más
                    consumidas en la Argentina.
                    Las uvas Chardonnay y Sauvignon Blanc tienen mucho en común: ambas son de origen
                    francés, están implantadas en prácticamente todos los terruños prestigiosos del
                    planeta, y en nuestro país continúan creciendo a paso firme en términos de calidad.
                    Sin embargo, también son muy diferentes entre sí por su tipicidad; por lo tanto,
                    también proponen distintos maridajes y situaciones de consumo.
                </p>
                <hr />
            </div>
            <!-- noticia numero 6 -->
            <div class="noticia">
                <h3>24 de noviembre: Día del Vino Argentino | Mendoza ¡Espíritu Grande!</h3>
                <h4>Para los argentinos el vino es parte de nuestra identidad cultural.</h4>
                <p> Al igual que el tango, el asado y la Cordillera de los Andes, es un ícono que nos
                    representa y un embajador de la Argentina fronteras afuera.Con el Malbec como punta de lanza, los tintos y blancos nacionales seducen a los consumidores del mundo entero. Pero además, la vitivinicultura es un gran motor
                    turístico para el país; las propuestas turísticas de las bodegas -cada vez más
                    sofisticadas- en el marco de los paisajes andinos, convocan turistas de los cinco
                    continentes maravillados por los aromas y sabores de nuestros vinos. <br>

                    Desde el 24 de noviembre de 2010, cuando fue declarado por decreto presidencial como
                    Bebida Nacional, cada año se conmemora en esta fecha el Día del Vino Argentino.
                    Esta celebración tiene como objetivo destacar el valor del vino y la
                    vitivinicultura, su arraigo en nuestra tierra y su valor cultural como elemento
                    identitario. Así, la Argentina se convirtió en el único país del mundo que declaró
                    al vino que se elabora en su territorio como la bebida nacional.
                </p>
                <hr />
            </div>
            <!-- noticia numero 7 -->
            <div class="noticia">
                <h3>7 datos para entender el éxito del Malbec en el mundo</h3>
                <h4>A partir de 2003 comenzó el “boom” de las exportaciones de Malbec fronteras afuera.</h4>
                <p> De acuerdo con las estadísticas difundidas por el Observatorio Vitivinícola
                    Argentino (OVA), con un incremento constante de las
                    hectáreas implantadas con esta variedad en el territorio nacional y un aumento
                    permanente de la producción, a en el año 2002 Argentina exportaba 6,6 millones de litros de
                    malbec, por un valor de USD 14.446.757. En 2003 se vendieron al exterior 10,2
                    millones de litros por USD 23 millones y en 2004 se produjo un fenómeno sin igual
                    hasta el día de hoy: las exportaciones de Malbec crecieron 142% en valor -logrando
                    una facturación de USD 55,9 millones- y 124% en volumen, alcanzando los 23 millones
                    de litros. Desde ese entonces, los envíos de este varietal al exterior siguieron
                    aumentando todos los años, con Estados Unidos como principal comprador.
                </p>
                <hr />
            </div>
        </div>