<div class="nosotros">
            <div class="historias">
                <div class="historia">
                    <img src="images/galeria/historia.jpg" alt="bodegueros">
                    <div class="comienzos">
                        <h2>Comienzos</h2>
                        <p>Leoncio Maturanno, miembro de la cuarta generación de viticultores pioneros en elaborar vinos de calidad en Europa, llega a la Argentina desde España y se instala en Mendoza. Al conocer Luján de Cuyo se entusiasma con este lugar que le recuerda a su tierra natal y comienza a plantar viñedos con vides de origen europeo.Comienza una profunda remodelación de la bodega que suma tecnología de avanzada para la época y que marca la pauta del espíritu innovador que tuvo, desde sus principios, Bodega Villa Antigua. Se inaugura la Bodega Villa Antigua situada en Luján de Cuyo, dando así inicio a una historia signada por la innovación, el crecimiento y una constante búsqueda por lograr la máxima calidad.</p>
                    </div>
                </div>
                <div class="actualidad">
                    <h2>Actualidad</h2>
                    <p>Nace la línea De Sangre como resultado de una búsqueda de lotes especiales con expresiones únicas. Se trata de una alianza entre la naturaleza y la mano humana. Un acto de co-creación que refleja el estilo de la casa y la interpretación de nuestro enólogo. Se incorpora la Finca Miralejos en Altamira, San Carlos, corazón del Valle de Uco, a 1120 metros de altura. Con una extensión de 19 hectáreas plantadas en su totalidad con Malbec, tiene un suelo pedregoso que da uvas de gran carácter y personalidad. Nace la línea "Los Labradores By Villa Antigua Premium" y la bodega se transforma en la primera en desarrollar una colección de tres blends de alta gama.</p>
                </div>
            </div>
            <div class="staff">
                <section>
                    <img src="images/galeria/director.jpg" alt="director">
                    <h5>Ing. Rafaél Maturanno</h5>
                    <h6>Presidente</h6>
                    <p>Rafaél Maturanno nació en 1941 en Lujan de Cuyo, Mendoza, en el seno de una familia de vitivinicultores, perteneciendo a la tercera generación de bodegueros. Para ese entonces, Lujan de Cuyo ya era Capital de Vinos reconocida en toda la Argentina. Vivió en la casa de “El Paraíso”, la cual sigue perteneciendo a la Bodega y donde se encuentra uno de los viñedos más importantes de la Familia Maturanno. Estudió en la Universidad Nacional de Cuyo, en la Facultad de Agronomía donde obtuvo, con honores en 1965, el título de Ingeniero Agrónomo. Luego, se incorporó de lleno a la empresa familiar: Bodega Villa Antigua.</p>
                </section>
                <section>
                    <img src="images/galeria/directores.jpg" alt="directores">
                    <h5>Martín Yonzo & Miguel Maturanno</h5>
                    <h6>CEO & Gerente de Producción</h6>
                    <p>Nuestro CEO Martín Yonzo se graduó, con honores, en la legendaria facultad de Enología Don Bosco. Y, como todo líder, entendió que la única garantía de innovación era formar equipos creativos que, lejos de dejarse acunar por los laureles, tomaran la posta de la profundización de los logros. Desde entonces trabajó en Bodegas Villa Antigua, codo a codo con Miguel Maturanno quien es uno de los principales predicadores del futuro del sector, vinculado con la investigación y el desarrollo de un estilo propio que rinde culto a la calidad. Están ligados a la gestión comercial y al contacto directo con los consumidores. </p>
                </section>
                <section>
                    <img src="images/galeria/enologos.jpg" alt="enologos">
                    <h5>Nuestro Staff de Enologos</h5> <br>
                    <p>En los últimos años, la vitivinicultura argentina experimentó un cambio de paradigma alrededor de la figura del enólogo. Hoy, estos profesionales, Ing. en Enologia: Ezequiel G. Binner; Ing. en Enologia María Luara Gala; e Ing. en Enologia Mario A. Fourcade  recorren la finca, trabajan codo a codo con los agrónomos y tienen un contacto directo con los consumidores.Además, están presentes en ferias y encuentros alrededor del mundo; atienden a importadores, compradores y periodistas; dirigen catas y son la cara visible de la bodega .En pocas palabras, están ligados a la gestión comercial y al contacto directo con los consumidores.</p>
                </section>
                <section>
                    <img src="images/galeria/administrativos.jpg" alt="administrativos">
                    <h5>Nuestro Staff Administrativo</h5> <br>
                    <p>Es una empresa que tiene conciencia sobre la seguridad y los jerárquicos son personas con la que se puede dialogar y trabajar en equipo, tenemos uno de los mejores staff de empleados administrativos dispuestos a darlo todo y crecer día a día como equipo lo que genera un ambiente agradable entre los compañeros. La motivación de nuestro personal es clave para que se sientan no sólo empleados de una empresa, sino parte de nuestra familia y esto se ve reflejado en la calidad de trabajo que ofrecen conciliando lo estético con la seguridad ya que es un lugar muy turiítico y son detalles que se deben cuidar por que es parte del negocio.</p>
                </section>
                <section>
                    <img src="images/galeria/empleados.jpg" alt="empleados">
                    <h5>Nuestro Staff de Producción</h5> <br>
                    <p>Esta industria realmente despierta la pasión por una catagoria de consumo selectivo, como lo es el negocio de los vinos y el disfrute, y nos acerca a los drives de consumo y gratificación del consumidor. Nuestra gente trabaja adquiriendo un aprendizaje constante y brindan un sólido aporte en la elaboración de nuestros vinos. Ellos son parte de esta gran familia y entre todos, como buenos embajadores de nuestros sabores, saben lo primordial sobre Bodega Villa Antigua para realizar lo necesario para estar siempre a la vanguardia de los más destacados terroirs ofreciendo nuestros mejores ejemplares.</p>
                </section>
            </div>
        </div>